<%- include("include/header"); %>
<main id="main">
  <div id="contents">
    <div class="btns_list">
      <a href="/insert">insert</a>
    </div>

    <h2 class="title">DETAIL</h2>
  </div>
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script></script>
<%- include("include/footer"); %>
